<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="titleBox">Cappucinia</h1>
    </div>
    <p>Enter a restaurant or coffee place:</p>

 <div class="panel-body">
  <%= form_for(Cappucinium.new) do |f| %>
  <div>
    <p>
        店舗名：

        <%= f.text_field :restaurantName %>
    </p>
  </div>
  <div>
    <p>
        住所:

        <%= f.text_field :restaurantAdd %>

        電話番号：

        <%= f.text_field :restaurantPhone %>
    </p>
  </div>
  <div>
    <p>
        ホームページ：


        <%= f.text_field :restaurantWebsite %>
    </p>
  </div>
  <div>
    <p>
        飲み物名：

        <%= f.text_field :productName %>

        金閣：

        <%= f.text_field :productPrice %>
    </p>
  </div>
  <div>
    <p>
        ランキング:

    <%= f.text_field :productRating %>
    </p>
  </div>
  <div>
    <p>

    コメント：

    <%= f.text_field :comments %>
    </p>
  </div>
  <div>
    <p>
    <%= f.submit class: "btn btn-sm btn-primary" %>
    </p>
  </div>
  <% end %>
 </div>
</div>