<!DOCTYPE html>
<html>
<head>
  <title>Cappucinia</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if @current_user %>
      <p>Logged in as: <%= @current_user.name %></p>
    <% else %>
      <p>Not logged in</p>
    <% end %>
  <% unless flash[:notice].blank? %>
    <div id="notification"><%= flash[:notice]%>
    </div>
  <% end %>
  
  <em><%= link_to "(Logout)", session_path, method: :delete %></em>

<%= yield %>

</body>
</html>